{% extends "IMAGPhdCallBundle::layout.html.twig" %}

{% block body %}
<ul>
{% for phd in phds %}
<li>
  <a href="{{ path('application_new', {'phdId': phd.id}) }}">{{ phd.subject }}</a>
</li>
{% endfor %}
</ul>
{% endblock body %}
